.carousel-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

.carousel-word {
    margin-top: 25px;
    text-align: center;
}

.carousel-image {
    border-radius: 20px;
    margin-top: 12px;
    z-index: 2;
}

.carousle-secondary-text {
    font-size: 16px;
    color: #801b40;
}

.carousel-secondary-text-container {
    background-color: white;
    border-radius: 5px;
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #801b40;
    margin-top: 40px;
}

.container {
    display: flex;
    align-items: center;
}

.icon-button {
    background: none;
    border: none;
}

.arrow-left {
    padding-right: 20px;
}

.arrow-rigth {
    padding-left: 20px;
}

button {
    cursor:pointer;
}

.container-slider {
    position: relative;
    width: 250px;
    height: 460px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.image-slider {
    position: absolute;
    top: 16px;
    left: 30px;
    width: 196px;
    height: 425px;
    border-radius: 25px;
}