.navigator {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:transparent;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #ea546c;
    z-index: 998;
}

.container-toggle {
    padding-right: 16px;
    z-index: 999;
}